*{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
h1{
  font-size: 75px;
}
.textOnBackground, a{
  color: red;
}
.footer{
  text-align: left;
}
span{
  font-size: 11px;
}
