*{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
h1{
  font-size: 75px;
}
.headers, a{
  color: white;
  background-image: url('../images/the-flatiron-building.png');
}
.footer{
  text-align: left;
  background-color: gray;
}
span{
  font-size: 11px;
}
